* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(231, 231, 231);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.container {
    height: 600px;
    width: 500px;
    background-color: white;
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    position: relative;
    overflow: hidden;
}


.slider {
    height: 60px;
    width: 150px;
    border-radius: 50px;
    background-image: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    position: absolute;
    top: 20px;
    left: 100px;
}

.btn {
    height: 60px;
    width: 300px;
    margin: 20px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-section {
    height: 500px;
    width: 1000px;
    padding: 20px 0;
    display: flex;
    position: relative;
    
}

.login,.signup {
font-size: 22px;
border:none;
outline: none;
background-color: transparent;
position: relative;
cursor: pointer;
}

.login-box,.signup-box{
display: flex;
height: 100%;
width: 500px;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0px 40px;
}

.ele{
border: none;
border-radius: 50px;
width: 400px;
height: 60px;
outline: none;
color: rgb(77, 77, 77);
background-color: rgb(240, 240, 240);
padding-left: 30px;
font-size: 18px;
}

.login-box {
    gap: 50px;
}

.clkbtn{
    height: 60px;
    width: 150px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 22px;
    background-image: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));
}

.moveslider{
    left: 250px;
}

.form-section-move {
    left: -500px;
}