.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.rolldice {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container button {
    width: 200px;
    padding: 1rem;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 10rem;
    align-self: center;
    cursor: pointer;
}